<?xml version="1.0" encoding="utf-8"?>
<web-app>
	<servlet>
		<servlet-name>BeanController</servlet-name>
		<servlet-class>web.BeanController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeanController</servlet-name>
		<url-mapping>/submit_data.do</url-mapping>
	</servlet-mapping>
</web-app>
